body {
    background-color: rgb(75,125,75);
    position: absolute;
    left:50%;
    width:750px;
    margin-left:-375px;
    text-align: center;
    overflow:scroll;
}

h1,h3,h4 {
    margin:0px;
}

.container {
    padding:10px;
    background-color: white;
    border: solid black;
    border-radius: 10px;
}
#disclaimer {
    position:inherit;
    font-style: italic;
    font-size:0.8em;
    margin:0px;
    margin-top:5px;
}

#aboutMe {
    position:relative;
    margin-top:25px;
    padding-left: 15px;
    padding-right: 15px;
}

#picture {
    position:relative;
    width:500px;
    height:500px;
}

#buttonRight,#buttonLeft {
    position:relative;
    color: white;
    font-family: Andale;
    margin-bottom: 3px;
    background-color: lightblue;
    border: solid lightblue 1px;
    border-radius: 10px;
    width:100px;
}
#buttonRight:hover, #buttonLeft:hover {
    background-color: white;
    color: lightblue;
}
